* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  background: #1e1e1e;

  .container {
    height: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    position: relative;

    &.grid {
      overflow-y: auto;
    }
  }
}
