* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1e1e1e;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #f6f6f6;
  }
}

html,
body,
#root {
  height: 100%;
}
